@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Lato', sans-serif;
    background-color: #0a0a0a;
    color: #fff;
}

.carousel-item{
    height: 90vh;
}
.border-blue{
    border-bottom: 3px solid #35A1D4;
}
i{
    padding: 8px;
    color: azure;
    font-size: 30px;
}
.relleno{
    width: 100%;
    background-color: #35A1D4;
}
.bg-blue{
    background-color: #35A1D4;
}
.img-altura{
    height: 190px;
}
.separar{
    margin-top: 40px;
    margin-bottom: 80px;
}
.card{
    height: 500px;
}